<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Uncle George's Pizza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img th:src="@{/images/logo.png}" alt="logo" height="35"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">HOME</a></li>
                <li><a href="/categories">CATEGORIES</a></li>
                <li><a href="/cart">CART <span class="glyphicon glyphicon-shopping-cart "></span>
                    <th:block th:if="${cartSize} > 0" th:text="${' ('  + cartSize + ')'}"/>
                </a></li>
                <th:block th:if="${#request.isUserInRole('USER')}">
                    <li><a href="#" th:text="${'Hello, ' + #request.getRemoteUser()}"></a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span></a></li>
                </th:block>
                <th:block th:unless="${#request.isUserInRole('USER')}">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"> LOG IN</span></a></li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
<div class="container ">
    <h1>Something went wrong! </h1>
    <h2>Our Engineers are on it</h2>
    <a href="/">Go Home</a>
</div>
</body>
</html>